#  Assignment 1

### Ans-1.

In [7]:
#String type variable....
st='This is a string type variable'
print('st: ',type(st))



#string type variable...
lst=[1,2,3,'a','hello',3.1456]
print('lst: ',type(lst))


#Float type variable....
a= 3.124
print('a: ',type(a))



#touple type variable....
tup=(1)
print('tup: ',type(tup))

st:  <class 'str'>
lst:  <class 'list'>
a:  <class 'float'>
tup:  <class 'int'>

### Ans-2.

#### The data type of the given variables would be

var1 -> String

var2 -> String

var3 -> List

var4 -> Int

### Ans-3.

#### The operator " / " is used to show the quotient after performing division on the given two numbers 
for example:

In [23]:
print('10/2: ',10/2)
print('15/2: ',15/2)

10/2:  5.0
15/2:  7.5

#### The operator " % " is used to show the remainder after performing division operation on the given two numbers 
for example:

In [24]:
print('136%2: ',136%2)
print('57%5: ',57%5)

136%2:  0
57%5:  2

#### The operator " // " is used to show only the integer part of the quotient after performing division on the given two numbers 
for example:

In [25]:
print('257//2: ',257//2)
print('765//2: ',765//2)

257//2:  128
765//2:  382

#### The operator " ** " is used to perform power operation on the given input number 
for example:

In [26]:
print('10**2: ',10**2)

10**2:  100

### Ans-4.

In [28]:
lst=['akshita','hello',1,2,3,75.66,34.2,3+4j]
for i in lst:
    print(i,': ',type(i))

akshita :  <class 'str'>
hello :  <class 'str'>
1 :  <class 'int'>
2 :  <class 'int'>
3 :  <class 'int'>
75.66 :  <class 'float'>
34.2 :  <class 'float'>
(3+4j) :  <class 'complex'>

### Ans-5.

In [29]:
A = int(input("Enter Dividend : "))
B = int(input("Enter Divisor : "))
count = 0

while A%B==0:
    count +=1
    A/=B
    
if count>0:
    print("Number A is divisible by Number B",count,"times.")
else:
    print("Number A is not divisible by Number B.")

Enter Dividend : 326
Enter Divisor : 2
Number A is divisible by Number B 1 times.

### Ans-6.

In [31]:
lst=[10,20,21,36,49,58,8,9,12,13,14,87,59,44,32,61,63,1,2,3,27,36,33,45,47]
for i in lst:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

10 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
36 is divisible by 3
49 is not divisible by 3
58 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
87 is divisible by 3
59 is not divisible by 3
44 is not divisible by 3
32 is not divisible by 3
61 is not divisible by 3
63 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
27 is divisible by 3
36 is divisible by 3
33 is divisible by 3
45 is divisible by 3
47 is not divisible by 3

### Ans-7.

#### Mutable data types are the data type  that allow user to change the elements without changing it's identity
For example: List

In [2]:
#Decelaration of list
lst=[1,2,3,4,5]
print(lst,': ',type(lst))

#Upgarded list
lst[3]=7
print(lst,': ',type(lst))

[1, 2, 3, 4, 5] :  <class 'list'>
[1, 2, 3, 7, 5] :  <class 'list'>

#### Immutable data types are those data type which doesnot allow its object to change the elements at user's will
For example: String

In [3]:
#Declaration of string
st='Akshita'
print(st,': ',type(st))

#upgarding the sting
st[3]='i'
print(st,': ',type(st))

Akshita :  <class 'str'>

TypeError: 'str' object does not support item assignment